{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
  <section class="course_section layout_padding">
    <div class="course_bg_box">
      <div class="bg_img_box">
        <img src="{{ asset('frontOffice/images/course-bg.jpg') }}" alt="">
      </div>
    </div>
    <div class="container-fluid pr-0">
      <div class="heading_container">
        <h2>Nos Formations</h2>
        <p>Découvrez nos formations pour enrichir vos compétences.</p>
      </div>
      <div class="course_container">
        <div class="course_owl-carousel owl-carousel owl-theme">
          {% for formation in formations %}
            <div class="item">
              <div class="box">
                <div class="img-box">
                 
                </div>
                <div class="detail-box">
                  <h4>{{ formation.titre }}</h4>
                  <p>{{ formation.description|length > 100 ? formation.description|slice(0, 100) ~ '...' : formation.description }}</p>
                 {# Directly check if the formation's score exists by comparing the formation id #}
        
        {# {% for score in formationScores %}
        {% if score.formation.id == formation.id %}
        <p>Note Moyenne: {{ score.noteMoyenne|number_format(1) }} / 5</p>
                    <p>Nombre d'avis: {{ score.nombreAvis }}</p>
                    {% endif %}

{% endfor %} #}
{% if formationScores is defined %}
    {% for score in formationScores %}
        {% if score.formation.id == formation.id %}
            <p>Note Moyenne: {{ score.noteMoyenne|number_format(1) }} / 5</p>
            <p>Nombre d'avis: {{ score.nombreAvis }}</p>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No scores available</p>
{% endif %}
      
                  <a href="{{ path('app_formation_show', {'id': formation.id}) }}">
                    Voir Détail
                  </a>
                  <a href="{{ path('app_avis_index', {'formationId': formation.id}) }}" class="btn btn-info">
                  Avis
                </a>
                </div>
              </div>
            </div>

          {% else %}
            <div class="col-12">
              <div class="alert alert-warning text-center">
                Aucune formation disponible pour le moment.

              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}