{% extends 'baseAdmin.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}


    <div class="container mt-5">
        <div class="row">
            {% for formation in formations %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">{{ formation.titre }}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ formation.description }}</p>
                            <ul class="list-unstyled">
                                <li><strong>Duree:</strong> {{ formation.duree }}</li>
                                <li><strong>Niveau:</strong> {{ formation.niveau }}</li>
                                <li><strong>Date de création:</strong> {{ formation.dateCreation ? formation.dateCreation|date('Y-m-d') : '' }}</li>
                                <li><strong>Prix:</strong> {{ formation.prix }}</li>
                            </ul>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{{ path('app_formation_show', {'id': formation.id}) }}" class="btn btn-info btn-sm">Show</a>
                            <a href="{{ path('app_formation_edit', {'id': formation.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                            
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <div class="alert alert-warning" role="alert">
                        No records found.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('app_formation_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
