{% extends 'base.html.twig' %}

{% block title %}Détails de la Formation{% endblock %}

{% block body %}
    <div class="container mt-4">
    
        <div class="card shadow-lg p-4">
            <h1 class="text-center text-danger">{{ formation.titre }}</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
           
                    <p><strong>Description :</strong> {{ formation.description }}</p>
                    <p><strong>Durée :</strong> {{ formation.duree }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Niveau :</strong> {{ formation.niveau }}</p>
                    <p><strong>Date de Création :</strong> {{ formation.dateCreation ? formation.dateCreation|date('d/m/Y') : 'N/A' }}</p>
                    <p><strong>Prix :</strong> {{ formation.prix }} DT</p>
                </div>
            </div>
           {% if inscription is not null and inscription.status|trim|lower == 'payé' and inscription.formation.id == formation.id %}
    <!-- Si l'utilisateur a payé cette formation -->
    <div class="text-center mt-4">
        <a href="{{ path('app_formation_lessons_c', {'id': formation.id}) }}" class="btn btn-danger">Accéder à la formation</a>
    </div>
{% else %}
    <!-- Si l'utilisateur n'est pas inscrit ou n'a pas payé -->
     <div class="text-center mt-4">
    <a href="{{ path('app_inscription_cours_new', {'id': formation.id}) }}" class="btn btn-success">S'inscrire</a>
    </div>
{% endif %}

        </div>
    </div>
{% endblock %}