{% extends 'baseAdmin.html.twig' %}

{% block title %}Détails de la Formation{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card shadow-lg p-4">
            <h1 class="text-center text-primary">{{ formation.titre }}</h1>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>ID :</strong> {{ formation.id }}</p>
                    <p><strong>Description :</strong> {{ formation.description }}</p>
                    <p><strong>Durée :</strong> {{ formation.duree }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Niveau :</strong> {{ formation.niveau }}</p>
                    <p><strong>Date de Création :</strong> {{ formation.dateCreation ? formation.dateCreation|date('d/m/Y') : 'N/A' }}</p>
                    <p><strong>Prix :</strong> {{ formation.prix }} DT</p>
                      <p><strong>Catégorie:</strong> {{ formation.categorie ? formation.categorie.nom }}</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <a href="{{ path('app_formation_index') }}" class="btn btn-secondary">Retour à la liste</a>
                <a href="{{ path('app_formation_edit', {'id': formation.id}) }}" class="btn btn-warning">Modifier</a>
                <a href="{{ path('app_formation_lessons', {'id': formation.id}) }}" class="btn btn-primary">Voir les leçons</a>

         
                    {{ include('formation/_delete_form.html.twig') }}
             
            </div>
        </div>
    </div>
{% endblock %}