{% extends 'base.html.twig' %}

{% block title %}Lecon{% endblock %}

{% block body %}
    <h1>Lecon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lecon.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ lecon.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ lecon.contenu }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ lecon.dateCreation ? lecon.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lecon_index') }}">back to list</a>

    <a href="{{ path('app_lecon_edit', {'id': lecon.id}) }}">edit</a>

    {{ include('lecon/_delete_form.html.twig') }}
{% endblock %}
