<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Note</th>
            <th>Commentaire</th>
            <th>DateCreation</th>
            <th>UpdateDate</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for avi in avis %}
        <tr>
            <td>{{ avi.id }}</td>
            <td>{{ avi.note }}</td>
            <td>{{ avi.commentaire }}</td>
            <td>{{ avi.dateCreation ? avi.dateCreation|date('Y-m-d H:i:s') : 'N/A' }}</td>
            <td>{{ avi.updateDate ? avi.updateDate|date('Y-m-d H:i:s') : 'N/A' }}</td>
            <td>
                <a href="{{ path('app_avis_index', {'id': avi.id}) }}">Show</a>
                <a href="{{ path('app_avis_edit', {'id': avi.id}) }}">Edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">No records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
