{% extends 'baseAdmin.html.twig' %}

{% block title %}Créer une nouvelle promotion{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Créer une nouvelle promotion</h1>

        {{ form_start(form) }}
        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Formulaire de Promotion</h5>

                <div class="mb-3">
                    {{ form_label(form.codePromo, 'Code Promo', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.codePromo, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.remise, 'Remise (%)', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.remise, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.dateExpiration, 'Date d’Expiration', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.dateExpiration, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.inscriptionCours, 'Inscription Cours', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.inscriptionCours, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Créer</button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
