{% extends 'base.html.twig' %}

{% block title %}Modifier le Message{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h2>Modifier le message</h2>
        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.content) }}
                {{ form_widget(form.content) }}
            </div>
            <div>
                {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form) }}

        <a href="{{ path('app_message') }}" class="btn btn-secondary mt-2">Annuler</a>
    </div>
{% endblock %}
