{% extends 'base.html.twig' %}

{% block title %}InscriptionCours index{% endblock %}

{% block body %}
    <h1>InscriptionCours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom Apprenant</th>
                <th>Nom Formation</th>
                <th>Email</th>
                <th>CIN</th>
                <th>Status</th>
                <th>Montant</th>
                <th>Date d'inscription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription_cour in inscription_cours %}
            <tr>
                <td>{{ inscription_cour.nomApprenant }}</td>
                <td>{{ inscription_cour.nomFormation }}</td>
                <td>{{ inscription_cour.email }}</td>
                <td>{{ inscription_cour.cin }}</td>
                <td>{{ inscription_cour.status }}</td>
                <td>{{ inscription_cour.montant }} dt</td>
                <td>{{inscription_cour.dateInscreption|date('Y-m-d H:i:s') }}</td>
                <td>
                    <a href="{{ path('app_inscription_cours_show', {'id': inscription_cour.id}) }}">detaile</a>
                    <a href="{{ path('app_inscription_cours_edit', {'id': inscription_cour.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_inscription_cours_new') }}">Create new</a>
{% endblock %}
