{% block body %}
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-primary text-white">
                    <h3>{{ button_label|default('Ajouter') }} une Categorie</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                    {% if form_errors(form) %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for error in form_errors(form) %}
                                    <li class="text-danger">{{ error.message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="mb-3">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">
                            {{ form_errors(form.nom) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">
                            {{ form_errors(form.description) }}
                        </div>
                    </div>


            

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-2">{{ button_label|default('Enregistrer') }}</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
